 /* ThemeColor One */
.careerfy-fancy-title-four span i,.careerfy-featured-jobs-list-text small,.careerfy-parallax-text-btn,.careerfy-footer-four .widget_section_nav ul li a:hover,.widget_footer_contact_email {
    color: #7a73ef;
}
.careerfy-banner-search-four input[type="submit"],.careerfy-parallax-text-btn:hover {
    background-color: #7a73ef;
}
.careerfy-parallax-text-btn {
    border-color: #7a73ef;
}