@import url('https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=hebrew,latin-ext,vietnamese');
body {
	font-family: 'Varela Round', sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Varela Round', sans-serif !important;
}